@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-raleway: "Raleway", sans-serif;

  --color-button: #af9b8e;
  --color-treatment-title: #917a6b;
  --color-mobile-nav-bg: #917a6b;
  --color-primary-bg: #453b2e;
  --color-footer-bg: #bfafa5;
  --color-footer-email-bg: #cdbcb0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: white;
  background-color: var(--color-primary-bg);
}

.container {
  @apply p-5 m-auto md:p-20;
}

.navbar {
  @apply font-raleway text-[20px];
}

h1 {
  @apply font-cormorant text-white text-6xl italic font-bold md:text-8xl;
}

h2 {
  @apply text-[40px]/tight italic font-cormorant tracking-wide font-bold md:text-5xl;
}

h3 {
  @apply text-2xl/tight font-raleway tracking-wide md:text-3xl;
}

p {
  @apply text-[18px]/6 font-raleway md:text-[20px] leading-7;
}

h4 {
  @apply text-[18px]/6 font-raleway md:text-2xl;
}

.link {
  @apply bg-button text-white font-bold font-raleway md:text-2xl px-5 py-3 mt-7 rounded-full md:font-medium;
}
.link-button {
  @apply text-white font-bold font-raleway hover:underline decoration-1 duration-200;
}
.link-footer {
  @apply font-raleway text-[20px];
}

.copywrite {
  @apply text-[14px];
}
