@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-raleway: "Raleway", sans-serif;
}

.container {
  @apply p-5 m-auto md:p-28;
}

.navbar {
  @apply font-raleway text-[20px];
}

h1 {
  @apply font-cormorant text-white text-6xl italic font-bold md:text-8xl;
}

h2 {
  @apply text-[40px]/tight italic font-cormorant tracking-wide font-bold md:text-5xl;
}

h3 {
  @apply text-2xl/tight font-raleway tracking-wide md:text-3xl;
}

p {
  @apply text-[18px]/6 font-raleway md:text-[20px] leading-7;
}

h4 {
  @apply text-[18px]/6 font-raleway md:text-2xl;
}

.link {
  @apply text-white font-bold font-raleway md:text-2xl mt-4 md:font-medium;
}
.link-button {
  @apply text-white font-bold font-raleway hover:underline decoration-1 duration-200;
}
.link-footer {
  @apply font-raleway text-[20px];
}

.copywrite {
  @apply text-[14px];
}
