@import "tailwindcss";

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: white;
  background-color: #bfafa5;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #453b2e;
  }
}
